body{
    font-family: 'Open Sans', sans-serif;
}

.section-heading h2, .service-text a{
    color: #709dca;
}
.main-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.bnr-btn{
    border: 2px solid #709dca;
}
.bnr-btn:hover{
    background-color: #709dca
}
.slider-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: rgba(0, 0, 0, .5);
}

.service-text h4{
    color: #394b50;
}
.service-text p{
    color: #7b7b7b;
}

.service-text:hover a{
    color: #ffc155;
}

.about-text{
    background-color: #ffc155;
}

.about-btn{
    border: 2px solid #cb8d21;
    transition: .2s;
}
.about-btn:hover{
    background-color: #e7ad48;
}

  